@page "/"

<div class="homeContainer">
    <MatCard Class="card">
        <MatHeadline2>JAS - Blazor Test</MatHeadline2>
        <MatBody1>
            This is a web app setup to analyze different state management and
            Azure AD Authentication patterns.
        </MatBody1>
    </MatCard>
</div>

@code { }

<style>
    .homeContainer {
        min-width: 350px;
        margin: 0 auto;
        padding: 0px 20px;
    }

    .card {
        min-width: 300px;
        max-width: 650px;
        margin: 0 auto;
        padding: 40px;
        background: #f8f8f8;
        border-radius: 6px;
        box-shadow: 0px 1px 12px r
    }
</style>