$base-theme: Default;
$skin-name: Theme;
$swatch-name: Nordic;
$border-radius: 2px;
$accent: #e7607b;
$info: #46b8e0;
$success: #90bf4f;
$warning: #ffc857;
$error: #e14d6b;
$text-color: #50686e;
$bg-color: #ffffff;
$base-text: #1e3034;
$base-bg: #f5f6f7;
$hovered-text: #006989;
$hovered-bg: #d6e8eb;
$selected-text: #ffffff;
$selected-bg: #01A8C1;
$series-a: #e7607b;
$series-b: #bb334f;
$series-c: #6bd2e2;
$series-d: #01A8C1;
$series-e: #ddc981;
$series-f: #c09e2f;