@using JASBlazor.Redux
@using JASBlazor.Redux.Actions.Counter
@using Blazor.Realm.Extensions
@inject NavigationManager MyNavigationManager
@inherits RealmComponent<AppState>

<AuthorizeView>
    <Authorized>
        <div class="jas-header-account">
            <ul class="nav flex-row">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All" ActiveClass="uk-active">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="dropdown-divider">
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/chatroom">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat room
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/todo">
                        <span class="oi oi-check" aria-hidden="true"></span> To Do
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/grid">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/store-grid">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Store Driven Grid
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/counter">
                        <span class="oi oi-timer" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
            </ul>
            <span class="jas-head-counter">Current Count: <span>@State.Count</span></span>
            <span class="jas-font-sm">Welcome,</span> <p class="jas-head-title">@context.User.Identity.Name</p>
            <MatIcon Icon="account_circle" />
            <div uk-dropdown="mode: click">
                <ul class="uk-nav uk-dropdown-nav">
                    <li class="uk-active"><a href="#">Account</a></li>
                    <li>
                        <NavLink href="MicrosoftIdentity/Account/SignOut">
                            <MatIconButton Icon="eject" /> Logout
                        </NavLink>
                    </li>
                    <li class="uk-nav-divider"></li>
                    <li class="uk-nav-header">Pages - Mvvm</li>
                    <li><a href="/todo">ToDos</a></li>
                    <li><a href="/grid">DataGrid</a></li>

                    <li class="uk-nav-divider"></li>

                    <li class="uk-nav-header">Pages - Redux</li>
                    <li><a href="/counter">Counter</a></li>
                    <li><a href="/store-grid">DataGrid</a></li>
                </ul>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <div style="display: flex; align-items: center">
            <ul class="nav flex-row">
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </li>
                <li class="dropdown-divider">
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/chatroom">
                        <span class="oi oi-chat" aria-hidden="true"></span> Chat room
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/todo">
                        <span class="oi oi-check" aria-hidden="true"></span> To Do
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/grid">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Grid
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/store-grid">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Store Driven Grid
                    </NavLink>
                </li>
                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="/counter">
                        <span class="oi oi-timer" aria-hidden="true"></span> Counter
                    </NavLink>
                </li>
            </ul>

            <span class="jas-head-counter">Current Count: <span>@State.Count</span></span>
            <NavLink href="MicrosoftIdentity/Account/SignIn">
                <MatIcon Icon="account_circle" />
            </NavLink>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code {
    MatIconButton Close;
    BaseMatMenu AccountMenu;

    public void OnClick(MouseEventArgs e)
    {
        this.AccountMenu.OpenAsync(Close.Ref);
    }
}

<style>
    .jas-header-account {
        display: flex;
        align-items: center;
    }

    .jas-head-title {
        padding-right: 20px;
        padding-left: 10px;
        color: #b7b7b7f8;
        margin: 0;
        /* padding: 0px 20px; */
    }

    .jas-head-counter {
        margin-right: 10px;
        width: 150px;
    }

    .jas-font-sm {
        font-size: 10pt;
        transition: all 400ms ease-in-out;
    }

    .jas-head-title:hover {
        color: #fff;
    }
</style>